html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}



p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: firebrick;
}

a:hover {
  color: 	#8B0000;
}

input:focus {
  outline: none;
}


.App {
  text-align: center;
  color: firebrick;
  display: flex;
  flex-direction: column;

}

.characters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.main-character {
  width: 20%;
}

.character-detail-links {
  padding-top: 20px;
}


.main-nav a {
  padding-left: 20px;
  font-size: 20px;
}

.main-nav {
  margin-right: 40px;
}


.pages {
  margin-top: 20px;
  background: firebrick;
  border: 1px solid;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages button {
  padding: 10px;
  font-size: 20px;
  margin-left: 5px;
}


.main-header {
  background: rgba(0, 0, 0, 0.2);
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-welcome {
  margin-top: 20px;
}

.single-character {
  margin: 90px auto;
}



#main-input {
  height: 25px;
  font-size: 20px;
  text-align: center;
}


#main-button {
  width: 60px;
  font-size: 20px;
  margin-left: 5px;
}


#logo {
  height: 100%;
  width: 200px;
  margin-right: 0;
  border-radius: 8px;
}

#footer-list ul {
  display: flex;
  justify-content: space-around;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 30px;
}

#footer-list li{
  list-style-type: none;
}



/* STICKY FOOTER SOLUTION */

#root > div {
  min-height: 100vh;      /*Got this solution from eric*/
}

.main-welcome {
  flex-grow: 35;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-footer {
  flex-grow: 2;
  height: 200px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding-top: 15px;
}





/* -------------------------------------------------------------------------- */

@media screen and (max-width: 500px){
  body {
    background: red;
  }

}
