html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
}


.App {
  text-align: center;
  color: firebrick;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.main-character {
  width: 20%;
}

a {
  text-decoration: none;
}

.character-detail-links {
  padding-top: 20px;
}


.main-nav a {
  padding-left: 20px;
}

.main-nav {
  margin-right: 40px;
}



.main-form {
  margin-top: 20px;
  background: firebrick;
  border: 1px solid;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form button {
  padding: 10px;
  font-size: 20px;
  margin-left: 5px;
}

/* .main-welcome {
  background-image: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 1000px;
} */

.main-header {
  background: rgba(0, 0, 0, 0.2);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




#main-input {
  height: 25px;
  font-size: 20px;
  text-align: center;
}

input:focus {
  outline: none;
}


#main-button {
  width: 60px;
  font-size: 20px;
  margin-left: 5px;
}

#logo {
  height: 100%;
  width: 200px;
  margin-right: 0;
}
